<!DOCTYPE html>
<html>
<head>
	<title>Titel van de pagina</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles.css">
</head>
<body>
	<header>
		<h1>Header van de pagina</h1>
		<nav>
			<ul>
				<li><a href="#">Link 1</a></li>
				<li><a href="#">Link 2</a></li>
				<li><a href="#">Link 3</a></li>
			</ul>
		</nav>
	</header>
	
	<main>
		<h2>Hoofdsectie van de pagina</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend dolor auctor, molestie purus non, consectetur elit. Integer fringilla ligula eget blandit tincidunt. Sed eget leo auctor, aliquet purus in, lacinia eros. Etiam quis fermentum nulla. In ultricies, ipsum eu pretium lacinia, purus magna congue est, in sodales magna odio non quam. </p>
	</main>
	
	<footer>
		<p>&copy; 2023 stageopdracht Hamza Maroc. Alle rechten voorbehouden.</p>
	</footer>
	
	<script src="script.js"></script>
</body>
</html>
