{% extends "base.html" %}
{% block title %}Bewerk feestdagen{% endblock %}
{% block content %}
<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #dddddd;
  }
</style>
<h1>Bewerk feestdagen</h1>
<hr>
<table>
  <thead>
    <tr>
      <th>Datum</th>
      <th>Naam NL</th>
      <th>Naam EN</th>
      <th>Naam FR</th>
      <th>Officiële feestdag</th>
      <th>Bewerk</th>
      <th>Verwijder</th>
    </tr>
  </thead>
  <tbody>
    {% for feestdag in feestdagen %}
    <tr>
      <td>{{ feestdag['Datum'] }}</td>
      <td>{{ feestdag['Naam NL'] }}</td>
      <td>{{ feestdag['Naam EN'] }}</td>
      <td>{{ feestdag['Naam FR'] }}</td>
      <td>{{ feestdag['Officiële feestdag'] }}</td>
      <td>
        <form method="post" action="{{ url_for('views.bewerk_feestdag', datum=feestdag['Datum']) }}">
          <button type="submit" formmethod="POST">Bewerk feestdag</button>
        </form>
      </td>
      <td>
        <form method="post" action="{{ url_for('views.verwijder_feestdag', datum=feestdag['Datum']) }}">
          <button type="submit" formmethod="POST">Verwijder feestdag</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
