{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      text-align: left;
      padding: 8px;
    }
    
    th {
      background-color: #dddddd;
    }
    button[name=action][value=bevestigen] {
        background-color: green;
        color: white;
        font-weight: bold;
    }
    
    button[name=action][value=weigeren] {
        background-color: red;
        color: white;
        font-weight: bold;
    }
    
  </style>
    <h1>Feestdagen die nog moeten worden bevestigd</h1>
    <hr>
    
    <table>
        <thead>
            <tr>
                <th>Datum</th>
                <th>Naam NL</th>
                <th>Naam EN</th>
                <th>Naam FR</th>
                <th>Officiele feestdag</th>
                <th>Status</th>
                <th>ingediend door</th>
                <th>Knop<th>


                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for feestdag in data %}
                <tr>
                    <td>{{ feestdag['Datum'] }}</td>
                    <td>{{ feestdag['Naam NL'] }}</td>
                    <td>{{ feestdag['Naam EN'] }}</td>
                    <td>{{ feestdag['Naam FR'] }}</td>
                    <td>{{ feestdag['Officiële feestdag'] }}</td>
                    <td>{{ feestdag['bevestigd'] }}</td>
                    <td><a href="/show_profiles">{{ feestdag['ingediend_door'] }}</a></td>
                    <td>
                        <form action="{{ url_for('views.bevestig_feestdag', datum=feestdag['Datum']) }}" method="POST">
                            <button type="submit" name="action" value="bevestigen">Bevestigen</button>
                            <button type="submit" name="action" value="weigeren">Weigeren</button>
                          </form>
                          
                    </td>


                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
