{%extends "base.html"%} {%block title%}Login{%endblock%}
{%block content%}
<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #dddddd;
  }
  form {
    width: 100%;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  input[type="text"], input[type="date"], input[type="checkbox"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
</style>


<h1>Feestdagen</h1>
<table>
  <thead>
    <tr>
      <th>Datum</th>
      <th>Naam NL</th>
      <div><th>Naam EN</th>
      <th>Naam FR</th>
      <th>Officieel</th>

    </tr>
  </thead>
  <tbody>
    {% for row in data %}
      
    <tr>
      <td>{{ row['Datum'] }}</td>
      <td>{{ row['Naam NL'] }}</td>
      <td>{{ row['Naam EN'] }}</td>
      <td>{{ row['Naam FR'] }}</td>
      <td>{{ row['Officiële feestdag'] }}</td>

    </tr>
    {% endfor %}
    Welcome {{ current_user.name }}
  </tbody>
</table>



<br></br>
<h2>Feestdag toevoegen</h2>
<div class="container-fluid">
  <form method="POST" action="/toevoegen">
    <label for="datum">Datum:</label>
    <input type="date" id="datum" name="datum" required><br>
  
    <label for="naam_nl">Naam (Nederlands):</label>
    <input type="text" id="naam_nl" name="naam_nl" required><br>
  
    <label for="naam_en">Naam (Engels):</label>
    <input type="text" id="naam_en" name="naam_en" required><br>
  
    <label for="naam_fr">Naam (Frans):</label>
    <input type="text" id="naam_fr" name="naam_fr" required><br>
  
    <label for="is_officieel">Officiële feestdag:</label>
    <input type="checkbox" id="is_officieel" name="is_officieel" value="True"><br>
  
    <input type="submit" value="Toevoegen">
  </form>
</div>

  
{%endblock%}