{%extends "base.html"%} {%block title%}Home{%endblock%}
{%block content%}

    <h1>Feestdagen</h1>
    <table>
      <thead>
        <tr>
          <th>Datum</th>
          <th>Naam NL</th>
          <th>Naam EN</th>
          <th>Naam FR</th>
          <th>Officieel</th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
        <tr>
          <td>{{ row['Datum'] }}</td>
          <td>{{ row['Naam NL'] }}</td>
          <td>{{ row['Naam EN'] }}</td>
          <td>{{ row['Naam FR'] }}</td>
          <td>{{ row['Officiële feestdag'] }}</td>
        </tr>
        {% endfor %}

        Welcome {{ current_user.name }}
      </tbody>
    </table>
    


    <br></br>
    <h2>Feestdag toevoegen</h2>
    <form method="POST" action="/toevoegen">
        <label for="datum">Datum:</label>
        <input type="date" id="datum" name="datum" required><br>
      
        <label for="naam_nl">Naam (Nederlands):</label>
        <input type="text" id="naam_nl" name="naam_nl" required><br>
      
        <label for="naam_en">Naam (Engels):</label>
        <input type="text" id="naam_en" name="naam_en" required><br>
      
        <label for="naam_fr">Naam (Frans):</label>
        <input type="text" id="naam_fr" name="naam_fr" required><br>
      
        <label for="is_officieel">Officiële feestdag:</label>
        <input type="checkbox" id="is_officieel" name="is_officieel" value="True"><br>
      
        <input type="submit" value="Toevoegen">
      </form>
      

{%endblock%}