<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <div class="navbar-nav">
      <a class="nav-item nav-link" id="home" href="/">Home</a>
      <a class="nav-item nav-link" id="add_profile" href="/add_profile">add profile</a>
      <a class="nav-item nav-link" id="show_profiles" href="/show_profiles">profiles</a>
      <a class="nav-item nav-link" id="feestdag" href="/feestdag">Feestdag</a>
      <a class="nav-item nav-link" id="login" href="/login">login</a>
    </div>
  </div>
</nav>
